services:
  - type: web
    name: frontend
    env: static
    staticPublishPath: dist/frontend/browser
    buildCommand: npm run build 
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
